@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500i|Roboto');

h5.notation {
    color: #666666;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

h1 {
    text-align: center;
    color: #4f4f4f;
    font-family: 'EB Garamond', serif;

    margin: 40px 80px 40px 80px;
}

h3 {
    color: #666666;
    text-align: center;
    font-family: 'EB Garamond', serif;

}

h2 {
    color: #666666;
    text-align: center;
    font-family: 'EB Garamond', serif;

}

hr {
    margin: 0px;
}



.container {
    display: table;
    margin: 50px auto 0px auto;

}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}



ul li {
    float: left;
}


ul li a {
    display: block;
    color: #666666;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin:0 5px 0 5px;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgba(226, 226, 226,0.3);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

ul li a:active {
    background-color: rgba(226, 226, 226,0.3);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

ul li a:clicked{
    background-color: rgba(226, 226, 226,0.3);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

/*.button{
     background-color: none;
     font-family: 'EB Garamond', serif;
    border: none;
    color: #666666;
    padding: 10px 10px 10px 10px;
    margin:0 10px 0 10px;
    text-align: center;
    font-size: 16px;
    

}

.button:hover {
    background-color: rgba(226, 226, 226,0.3);
    
    font-weight: bold;
}
.button:active{
    color: 
}*/

ol li {
    margin-top: 3px;
    margin-bottom: 3px;
}

ol li a:hover {
   color: black;
}

ol li a{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}



.content {
    color: #4f4f4f;
    margin: 5px 250px 5px 250px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin-top: 70px;
}

p{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding-top: 1%;
    padding-bottom: 0%;
}

h5{
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin: 10px 250px 20px 250px;
}

img.sameLine{
    margin: 0;
}

.sameLinep{
    width: 100%;
    padding-left: 15px;
}

.sameLine{

    display: inline-table;
    margin-left: auto;
    margin-right: auto;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    text-align: center;
}

table#small{
    width: 30%;

}
table#medium{
    width: 40%;

}
table#large{
    width: 100%;

}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-collapse: collapse;   /*source:stackoverflow;*/
    font-family: 'EB Garamond', serif;

}


td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

th {

    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;   /*source:stackoverflow;*/
    background-color: rgba(226, 226, 226,0.8);
    color: #666666;
}

.maps{
    text-align:center;
    margin-top: 4%;
}

.map {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 230px;
    float: left;
    /*border:0.8px solid #4f4f4f;*/
    margin-left: 2%;
    background-image: url('assets/minnesota.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.map .marker {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 27px;
    top: 50%;
    left: 50%;
    background-image: url('assets/star.png');
    background-repeat: no-repeat;
} 

.map #marker1{
    top: 24.9%; 
    left: 12.5%;
}
.map #marker2{
    top:32.9%; 
    left: 11.4%;
}
.map #marker3{
    top: 27%; 
    left: 21.5%; 
    /*transform: rotateY(180deg);*/
}
.map .rectangle{
    position: absolute;
    width:55px;
    height:45px;
    top: 21%;
    left: 6%;
    border:3px dotted rgba(56, 56, 56,0.65);
    z-index: 1;
    background-color: none;
}

.map2{
    position: relative;
    display: inline-block;
    right: 5%;
    width: 900px;
    height: 500px;
}

#caption{
    /*display: inline;
    float: left;*/
    position: absolute;
    /*margin-left: 2%;*/
    top: 98%;
    z-index: 2;
}


.footwrap{
    width: 100%;
    height: 50%;
    opacity: 0.6;
    z-index: -1;
}